@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* font-family: 'Recursive', sans-serif;
font-family: 'Righteous', cursive; */

*{
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
}

.boasVindas {
    width: 100%;
    height: 100%;

    margin-top: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boasVindas img{
    width: 136px;
}

.pageTitle{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    margin-top: 20px;
    margin-bottom: 30px;
    width: 200px;
    height: 59px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boasVindas button{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D70900;

    
    width: 246px;
    height: 54px;
    
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.header {
    margin: 45px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header img{
    width: 52px;
}

.questions{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 70px;
}

.card{
    width: 300px;
    height: 65px;
    margin-bottom: 25px;

    background-color: #FFFFFF;
    
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive', sans-serif;

    position: relative;
}

.question{
    width: 100%;
    height: 65px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 700;
    font-size: 16px;
}

.question ion-icon{
    font-size: 30px;
}

.face{
    width: 100%;
    height: 130px;

    font-size: 18px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;

    position: absolute;

    backface-visibility: hidden;
    transition: all .3s;
    transform-style: preserve-3d;
}

.front img{
    width: 30px;
    
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.face .back h3{
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;

    margin: 0 15px;
    margin-top: 15px;
    word-wrap: break-word;
}

.back{
    transform: rotateY(180deg);
}

.hideFront{
    transform: rotateY(-180deg);
}

.showBack{
    transform: rotateY(0deg);
}

.results{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.result{
    width: 85px;
    height: 38px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer{
    width: 100%;
    height: 70px;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-color: #FFFFFF;

    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.resultsContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    position:relative;
}

.resultsContainer p{
    margin-bottom: 15px;
}

.answerResults{
    
    position: absolute;
    bottom: 5px;
    font-size: 23px;
}














.hidden{
    display: none;
}

.redBackground{
    background-color: #FF3030;
}

.orangeBackground{
    background-color: #FF922E;
}

.greenBackground{
    background-color: #2FBE34;
}

.red{
    color: #FF3030;
}

.orange{
    color: #FF922E;
}

.green{
    color: #2FBE34;
}

.height130{
    height: 130px;
    background-color: #FFFFD5;
}

.linethrough{
    text-decoration: line-through;
}



